@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");

.app {
  min-height: 100vh;
  display: flex;
  background-image: url(./pexels-stephan-seeber-1054218.jpg);
  background-size: cover;
  background-position: center;
  font-family: "Poppins", sans-serif;
}
span {
  color: blueviolet;
}
